{{ if .Site.Params.contact.enable | default false }}
<section id="contact" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.contact.title | default "Get in Touch" }}</h3>
        <div class="px-5 px-md-5 px-lg-5">
            <div class="row justify-content-center px-md-5">
                <div class="col-md-8 py-3">
                    <div class="text-center">
                        {{ .Site.Params.contact.content | emojify | markdownify }}
                    </div>
                    {{ if .Site.Params.contact.email }}
                    <div class="text-center pt-3">
                        <a href="mailto:{{ .Site.Params.contact.email }}" class="btn">
                            {{ .Site.Params.contact.btnName | default "Get in Touch" }}
                        </a>
                    </div>
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>contact form</title>
</head>

<body>

<link href="test" rel="stylesheet">

<div class="fcf-body">

    <div id="fcf-form">
    <h3 class="fcf-h3">Contact</h3>

    <form id="fcf-form-id" class="fcf-form-class" method="post" action="contact-form-process.php" name="contact" netlify>
        
        <div class="fcf-form-group">
            <label for="Name" class="fcf-label">Your name</label>
            <div class="fcf-input-group">
                <input type="text" id="Name" name="Name" class="fcf-form-control" required>
            </div>
        </div>

        <div class="fcf-form-group">
            <label for="Email" class="fcf-label">Your email address</label>
            <div class="fcf-input-group">
                <input type="email" id="Email" name="Email" class="fcf-form-control" required>
            </div>
        </div>

        <div class="fcf-form-group">
            <label for="Message" class="fcf-label">Your message</label>
            <div class="fcf-input-group">
                <textarea id="Message" name="Message" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
            </div>
        </div>

        <div class="fcf-form-group">
            <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message</button>
        </div>

        <div class="fcf-credit" id="fcf-credit">
        Simple HTML email form provided by <a href="https://www.majesticform.com" target="_blank">MajesticForm</a>
        </div>

    </form>
    </div>

</div>

</body>
</html>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}