footer a h5 {
    color: var(--text-color) !important;
}

footer a {
  text-decoration: none;
  color: var(--text-secondary-color) !important;
}

footer a:hover {
  color: var(--primary-color) !important;
}

footer .card {
    background-color: var(--secondary-color) !important;
    border-radius: .75rem;
    cursor: context-menu;
    overflow: hidden;
    border: none;
}

footer .card:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);
}

footer .card-text * {
    background-color: var(--secondary-color) !important;
}

footer .card-footer {
    background-color: var(--background-color) !important;
    padding: .8em .7em;
    border: 1px solid var(--secondary-color);
}

footer .card-footer a {
    color: var(--text-secondary-color) !important;
    border-color: var(--primary-color) !important;
    transition: none;
    background-color: var(--background-color) !important;
}

footer .card-footer a:hover {
    color: var(--primary-color) !important;
    opacity: 0.8;
}

footer .card-footer a:focus {
    box-shadow: none !important;
}

footer .card > .card-header {
    padding: 0 !important;
    border: none !important;
    background-color: var(--secondary-color) !important;
}

footer .card > .card-header .card-img-top {
    width: 100%;
    height: 250px !important;
    object-fit: cover;
    background-color: transparent !important;
}

#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #494E5F;
    text-align: left;
    background-color: #FAEEE6;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #FAEEE6;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #FFF9F5;
    background-clip: padding-box;
    border: 1px solid #F1D4C1;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #C99F83;
    border-color: #C99F83;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #A47556;
    border-color: #A47556;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #C99F83;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}